/* pageChoix.css */

.page-choix {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  padding-top: 150px;
  flex-direction: column;
  justify-content: flex-start;
  background-image: linear-gradient(to bottom, rgba(12, 144, 201, 0.248) 3%, #ffffff 97%);
}



.page-choix .h4 {
  font-size: 38px;
  font-weight: bold;
  color: #333;
}

.page-choix p {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

.choixpages{
     width: auto;
     display: flex;
     justify-content: baseline;
     align-items: center;
}

.choixpages .pages{
    width: 200px;
    text-align: center;
    padding: 12px;
    text-decoration: none;
     margin: 0 10px;
     border-radius: 10px;
}