

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 50px;
  border-radius: 10px;
 
}

.description h1 {
  font-weight: 700;
  font-size: 3.7em;
  color: #333;
  letter-spacing: 6px;
  margin-bottom: 20px;
}

.description .p1 {
  font-size: 1.1em;
  line-height: 1.6;
  color: #555;
  word-wrap: break-word;
  margin-bottom: 20px;
  max-width: 800px;
}

.description .p2 {
  font-size: 0.9em;
  line-height: 1.5;
  color: #777; /* Changé pour #777 pour une meilleure lisibilité */
  word-wrap: break-word;
  max-width: 50em;
  margin-bottom: 20px; /* Ajusté pour un meilleur espacement */
}

.description form {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ajusté pour centrer le formulaire */
  max-width: 100rem;
  min-width: 27em;
}

.description .inputMessage {
  padding: 10px;
  height: 43px;
  width: 74%; /* Ajusté pour une meilleure apparence */
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1em;
  border: none;
  outline: none;
  background-color: #ffffffef;
  box-shadow: 0px 1px 2px #0056b3;
}

.description .buttonD {
  padding: 10px 20px;
  color: #fff;
  border: none;
  font-size: 1em;
  cursor: pointer;
  box-shadow: 0 0 1px  #000000;
  transition: background-color 0.3s ease;
}

.description .buttonD:hover {
  background-color: #0056b3;
}
