/* Style pour la barre de navigation principale */
.containernav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(12, 144, 201, 0.248) 3%, #ffffff 97%);
}

.ulnav {
    width: 85%;
    margin-top: 15px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff8a;
    border-radius: 50px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0px 10px rgba(85, 81, 81, 0.1);
    padding: 10px 20px; /* Ajout de padding pour espacer les éléments à l'intérieur de la barre de navigation */
}

.ulnav li {
    list-style: none;
    margin: 0 7px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titrenavspan {
    font-weight: 700;
    font-size: 24px; /* Augmentation de la taille de la police pour le titre */
    color: rgb(13, 71, 82);
    display: flex;
    align-items: center;
}

.navs {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* Style pour les liens */
.liens {
       
        border: 0;
        text-decoration: none;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, .1) 0 5px 10px;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        font-family: Montserrat,sans-serif;
        font-size: .8em;
        margin: 5px;
        padding: 7px 15px;
        text-align: center;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
      }


/* Style pour le lien de connexion */
.liens1 {
    background-image: linear-gradient(#0dcdeacc,darkblue );
}

/* Style pour le lien de s'inscrire */
.liens2 {
    box-shadow:none;
    color: #07305a;
}

.liens1:hover {
    background-color:#07305a;
}

/* Style au survol du lien de s'inscrire */
.liens2:hover {
    background-color:rgba(0, 0, 255, 0.041);
}

/* Style pour le titre de la barre de navigation */
.titrenavspan span {
    margin-left: 5px; /* Espacement entre l'icône et le texte */
}

.dark{
      transform: rotate(220deg);
      font-size: 17px;
      color:#07305a;
}

.darkmode{
    padding: 5px ;
    display: flex;
    margin-right: -10px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.darkmode:hover{
      background-color: #07315a20;
      
}