.loading{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgba(12, 144, 201, 0.248) 3%, #ffffff 97%);
}