/* Conteneur principal */
.section {
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgba(12, 144, 201, 0.248) 3%, #ffffff 97%);
  }
  
  /* Conteneur du formulaire */
  .sous-section {
    width: 420px;
    min-height: 520px;
    height: auto;
    display: flex;
    border-radius: 15px;
    justify-content: center;
    flex-direction: column;
    box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.1);
    padding:10px 30px;
    background-color: #ffffff;
  }
  
  /* Groupe de champs */
  .groupe {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  /* Étiquettes et lien */
  .label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .labels {
    font-size: 14px;
  }
  
  .lien {
    text-decoration: none;
    color: rgb(29, 120, 120);
  }
  
  /* Texte */
  .text {
    color: #7f7676;
  }
  
  /* Champ de saisie */
  .input {
    width: 100%;
    padding: 7px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.4s;
    background-color: rgba(227, 227, 227, 0.2);
  }
  
  .input:focus {
    border: 1px solid rgb(29, 120, 120);
  }
  
  /* Bouton */
  .button {
    width: 100%;
    padding: 7px;
    outline: none;
    border: none;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
  }
  
  /* Message d'erreur */
  .errorMessage {
    border: 1px solid red;
  }
  
  .errorText{
      color:red
  }

  .inconsAuth{
      font-size: 50px;
      margin-bottom: 30px;
      color: rgba(12, 144, 201, 0.248) ;
  }

  .sous-section-oublier{
    width: 520px;
    height: 120px;
    height: auto;
    display: flex;
    border-radius: 15px;
    justify-content: center;
    flex-direction: column;
    box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.1);
    padding:10px 30px;
    background-color: #ffffff;
  }
  .sous-section-message{
    width: 520px;
    height: 120px;
    height: auto;
    display: flex;
    border-radius: 15px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.1);
    padding:10px 30px;
    background-color: #ffffff;
  }
  
/* 
  .reset-password-section {
    text-align: center;
    margin-top: 50px;
}

.reset-password-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.reset-password-message {
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reset-password-icon {
    margin-bottom: 20px;
} */

.reset-password-link {
    color: #007bff;
    text-decoration: none;
}

.reset-password-link:hover {
    text-decoration: underline;
}
